body {
    padding-top: 60px;
}

.b-content {
    }
    .b-content div {
        display: none;
        }
    .b-content.b-lectures .b-content-lectures {
        display: block;
        }
    .b-content.b-import .b-content-import {
        display: block;
        }
    .b-content.b-export .b-content-export {
        display: block;
        }

.b-lecture-date {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    }
.b-lecture-time {
    display: inline-block;
    width: 50px;
    }
.b-lecture-time.empty {
    visibility: hidden;
    }
.b-lecture-title {
    display: inline-block;
    width: 300px;
    }
.b-lecture-lecturer {
    display: inline-block;
    width: 200px;
    }
.b-lecture-edit {
    display: none;
    }
    .b-lecture-edit i {
        cursor: pointer;
        }
.b-lecture:hover .b-lecture-edit {
    display: inline-block;
    }

#import-area, #export-area {
    width: 100%;
    height: 400px;
    resize: none;
}
